<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139595420273-jaeoe91ph8skdc1f7omvb058u2k151pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139595420273-jaeoe91ph8skdc1f7omvb058u2k151pv</string>
	<key>API_KEY</key>
	<string>AIzaSyDbKJ9kwmSTDk-IQFogqkUA0glJ0iGFg5M</string>
	<key>GCM_SENDER_ID</key>
	<string>139595420273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.chadbot</string>
	<key>PROJECT_ID</key>
	<string>chadbot-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>chadbot-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139595420273:ios:a5a4bc9c16821c6a3c01d0</string>
</dict>
</plist>